<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="<%- page.description || config.description || '' %>">
    <meta name="author" content="">
    
    <title><%- page.title || config.title || '' %></title>

    <link rel="stylesheet" href="/static/vendor/bootstrap/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/static/css/style.css"/>
</head>